<div class="container">
<p id="notice"><%= notice %></p>
<div class="table">
<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>
<% check = false %>
<% @characters.each do |character| %>
<%	if(character.game_id == @game.id) %>
<%	if(character.user_id == current_user.id) %>
<% check = true %>
<% end-%>
<% end -%>
<% end -%>
<p>
  <strong>Description:</strong>
  <%= @game.description %>
  </div>
<%	if(check == false) %>
<%= link_to 'Create a Character', new_character_path(game_id: @game.id, user_id: current_user.id), class: "btn" %>
<% end-%>
<%= link_to 'Edit', edit_game_path(@game), class: "btn" %> 
</div>
</p>
</div>
<div>
<% @characters.each do |character| %>
<%if character.game_id == @game.id %>
	<div class="container">
		<div class="row">
			<div class='col-sm-3'>
				<div class="well">
<h3>Name: </h3> <%= character.name %><br>
<h3>Health: </h3> <%= character.currentHealth %><br>
<h3> Drive: </h3>	<%= character.currentDrive %><br>
<h3>Initiative: </h3>	<%= character.initiative %><br>
<%if character.user_id == current_user.id %>
<%= link_to "Edit Character", edit_character_path(id: character.id, game_id: character.game_id), class: "btn"%>
<% end %>
</div>
</div>
<% end -%>

<% end -%>
</div>
</div>
</div>
</div>

