<%= form_with(model: character, local: true) do |form| %>
  <% if character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(character.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
      <% character.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
  <%= form.hidden_field :game_id, value: @game_id %>
</div>
<div class="field">
  <%= form.hidden_field :user_id, value: current_user.id %>
</div>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :character_name, class: "form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :player %>
    <%= form.text_field :player, id: :character_player, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :concept %>
    <%= form.text_area :concept, id: :character_concept, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= form.hidden_field :maxHealth, id: :character_maxHealth, class: "form-control"%>
  </div>

  <div class="form-group">
    <%= form.hidden_field :currentHealth, id: :character_currentHealth, class: "form-control"%>
  </div>
  <div class="container-fluid">
  <div class="row">
  <div class="col-md-6">
  <div class="form-group">
    <%= form.label :brawn %>
    <%= form.number_field :brawn, id: :character_brawn, min: 1, max: 4, class: "form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :agility %>
    <%= form.number_field :agility, id: :character_agility, min: 1, max: 4, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :wit %>
    <%= form.number_field :wit, id: :character_wit, min: 1, max: 4, class: "form-control"%>
  </div>
</div>
<div class="col-md-6">
  <div class="form-group">
    <%= form.label :intelligence %>
    <%= form.number_field :intelligence, id: :character_intelligence, min: 1, max: 4, class: "form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :charm %>
    <%= form.number_field :charm, id: :character_charm, min: 1, max: 4, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :presense %>
    <%= form.number_field :presense, id: :character_presense, min: 1, max: 4, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.hidden_field :maxDodge, id: :character_maxDodge, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.hidden_field :currentDrive, id: :character_currentDrive, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.hidden_field :initiative, id: :character_initiative, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.hidden_field :maxDrive, id: :character_maxDrive, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.hidden_field :currentDrive, id: :character_currentDrive, class: "form-control" %>
  </div>
</div>
</div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
